#container{
  font-family: arial, sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
button{
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}
button:hover{
  background-color: hsl(210, 100%, 60%);
}
button:active{
  background-color: hsl(210, 100%, 70%);
}
input{
  font-size: 2rem;
  width: 150px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
}
#diceResult{
  margin: 25px;
}
#diceImages{
  margin: 5px;
  width: 150x;
}